
	body{
		font-family: 'Source Sans Pro', sans-serif;
	}

	header{
		color: black;
		border: 1px solid green;
		background-color: #CCFF5E;
		height: 60px;
	}

	.burguer{
		float: left;
		margin: 0 0 0 0;
		padding-left: 10px;
	}

	.titulo{
		float: left;
		margin: -16px 0 0 0;
		padding-left: 40px;
	}

	/*--------------BARRA DE NAVEGACION -------------*/
	.navegacion{
		background-color: #E4FF5A;
		height: 40px;
		margin: 5px 0 5px 0;
	}

		.enlaces ul{
			color: black;
			list-style: none;
			margin: 0 0 0 0;
		}
		.enlaces >ul >li{
			float: left;
			margin: 10px 30px 0 -40px;
			padding-left: 30px;
		}
		.enlaces li a {
		    color: black;
		    text-align: left;
		    text-decoration: none;
		    font-weight: bold;
		}

		.enlaces >ul >li a:hover{
			color: #FFFFFF;
			background-color: grey;
		}

	/*-----------------MAIN-------------------*/

	main {
		float: left;
		width: 79%;
		list-style: none;
		background: lightyellow;
		border: 1px solid green;
	}

	.contenedor{
		color: black;
		background: lightyellow;
	}

	.celdaTitulo{
		height: 40px;
		border: 1px solid green;
		padding-left: 2px;
		color: black;
		background-color: #CCFF5E;
	}

	.titPlato h2{
		float: left;
		margin: 3px;
	}

	.stars {
		float: right;
    position: relative;
    overflow: hidden;
		margin-top: 10px;
		margin-right: 10px;
}

	.valoracion {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.valoracion input {
    position: absolute;
    top: -100px;
}


.valoracion label {
		float: right;
    color: #c1b8b8;
    font-size: 30px;
}

.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
    color: #ffff00;
}

	.log{
		border: 1px solid green;
		background: lightyellow;
	}

	.formulario{
		text-align: center;
		border: 1px solid green;
		background: lightyellow;
	}

	.formulario label{
		margin: 10px 5px;
		display:inline-block;
		font-weight:bold;
	}

	.formulario input[type="text"]{
		width: 300px;
		padding:3px 10px;
		margin:8px 5px;
		display:inline-block;
	}

	.formulario input[type="checkbox"]{
		margin:8px 5px;
	}

	.usuarios{
		background: #f4b1bb;
		margin: auto;
		padding-left: 10px;
		text-align: center;
	}

	.usuarios input[type="image"]{
		position: relative;
	}

	.celdaTags{
		color: black;
		background-color: lightyellow;
		height: 20px;
	}

	.categoria{
		margin-top: -8px;
		margin-left: 10px;
		float: left;
		font-size: x-small;
	}

	.autor{
		margin-top: -8px;
		margin-right: 10px;
		float: right;
		font-size: x-small;
	}

	.infoPlato{
		color: black;
		margin: 5px;
		height: 200px;
		background: #E4FF5A;
	}

	.descripcion{
		position: relative;
		width: 60%;
		padding: 5px 0 0 10px;
	}

	.fotografia{
		position: relative;
		float: right;
		padding: 5px;
	}

	.ingredientes{
		float: right;
		margin: 5px;
		padding-left: 5px;
		color: black;
		width: 250px;
		background: lightblue;
	}

	.ingredientes li{
		list-style: none;
		margin: 5px 0 0 -20px;
	}

	.preparacion {
		padding: 5px;
		padding-left: 20px;
	}

	.barraPag{
		margin: 5px;
		height: 40px;
		padding-left: 5%;
		color: black;
		background-color: #CCFF5E;
	}

	.opciones{
		float: right;
		padding-top: 3px;
		padding-left: 5px;
	}

	.comentario{
		width: 90%;
		float: left;
		margin: 5px;
		height: 60px;
		padding-left: 10px;
		background-color: #ffd0d8;
	}

	.usu p{
		color: #ed7e9f;
		margin: 0 0 0 0;
		float: left;
		padding: 5px;
	}

	.com p{
		clear:both;
		color: black;
		margin: -10px 0 0 0;
		text-align: left;
	}

	.borrarComentario{
		float: right;
		margin: 20px 15px 0 0;
	}

	.pagination {
		margin-left: auto;
		margin-right: auto;
	 background: #FFD863;
		border-radius: 0.8em;
	 -moz-border-radius: 0.8em;
	 -webkit-border-radius: 0.8em;
	 color: black;
	 display: inline-block;
	 font-weight: bold;
	 line-height: 1.4em;
	 margin: 5px;
	 text-align: center;
	 width: 1.4em;
}

	/*------------------ASIDE--------------*/
	aside {
		float: right;
		width: 20%;
	}

	.login{
		text-align: center;
		color: black;
		margin: 5px;
		border: 1px solid green;
		background: lightyellow;
	}

	.titLogin{
		color: black;
		height: 40px;
		margin: 5px;
		border: 1px solid green;
		background: #FFD863;
	}

	.titLogin h2{
		margin: 5px 0 0 5px;
		text-align: left;
	}

	.user{
		padding: 5px;
	}

	.pass{
		padding: 5px;
	}

	.login1{
		flex-direction: column;
	}

	.valoradas{
		margin: 5px;
		color: black;
		border: 1px solid green;
		background: lightyellow;
	}

	.titValoradas{
		font-size: smaller;
		color: black;
		height: 40px;
		padding-left: 10px;
		margin: 5px;
		border: 1px solid green;
		background: #FFD863;
	}

	.titValoradas h2{
		margin: 5px 0 0 0;
		text-align: left;
	}

	.numrecetas{
		margin: 5px;
		color: black;
		border: 1px solid green;
		background: lightyellow;
		text-align: center;
	}

	.titRecetas{
		color: black;
		height: 40px;
		padding-left: 10px;
		margin: 5px;
		border: 1px solid green;
		background: #FFD863;
	}

	.titRecetas h2{
		margin: 5px 0 0 0;
		text-align: left;
	}

	/*------------------FOOTER--------------*/
	footer {
		clear: both;
		float: left;
		bottom:0px;
		width: 100%;
		color: black;
		padding-left: 10px;
		background-color: #E4FF5A;
		height: 35px;
		margin-top: 5px;
	}

	.texto{
		float: left;
		padding: 10px;
	}

	footer a{
		color: black;
	  font-style: italic;
	  text-decoration: none;
	}
